*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(17, 17, 17);
    user-select: none;
    width: 100%;
    height: 100%;
    display: inline-flexbox;
    overflow: auto;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor:pointer;
    transition: all 0.3s;
}

.btn:hover{
    background-color: #1d4ed8;
    box-shadow: 0px 4px 10px ;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
    color: white;
}


header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .centent h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 200px;
    font-weight: 600;
}


header .centent h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{

    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}  

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}



.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    position: fixed;
    top: 95%;
    left:500px;
}

@media (width< 900px){
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1,
        1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .features{
        grid-template-columns: repeat(2,
        1fr);
        }
        footer{
            grid-template-columns: 1fr 200px;
        }
    }

@media (width < 600px){
    header .image::before{
        display: none;
    }

    .features{
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing{
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        grid-template-columns: 1fr 150px;
    }
    .copyright {
        display: none;
    }
}

  
  
#skin1 {
    background-image: url(/skin1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#card_btn {
position: relative;
top:60px;
}

#card_btn2 {
position: relative;
top: 180px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  

button {
    background-color: #1e40af;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
button:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px;
  
}

  
  button:hover {
    background-color: #1e40af;;
  }

  
.navbar {
    background-color: #1E1E1E;
    box-shadow: 0px 0px 4px white;
    color: #fff;
    width: 100%;
    border-radius: 9px;
    height: 50px;
    
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    position: relative;
    top: -50px;
    left: -320px;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    top: -52px;
  }


  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  
.login_btn {
background-color: #1d4ed8;   
margin: 10px;
padding: 10px;
color: white;
border-radius: 10px;
} 
.discord {
    background-color: #7289da;
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
}

.discord:hover {
    background-color: #0037ff;
    box-shadow: 0px 0px 10px ;
}

.nav-links li a:hover {
    color: #0037ff;
}

.nav-links li a::before {
    content: "1";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ff0000;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.blur {
    background-color: rgb(0, 0, 255);
    box-shadow: 0px 0px 1100px 121px blue;
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
  
  .card{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 3px rgb(0, 4, 255);
    align-items: center;
    text-align: center;
    display: flex;
    margin: 0px 20px;
  }




  /* tamaño de la targeta */

  .card:hover {
    transform: scale(1.03);
  }
  
  .cardC {
  display:inline-flex;
  }


.card_face {
  color: white;
  display: none;
  width: 200px;
  height: 300px;
  top:0;
  position:absolute;
  background-color: rgba(0, 4, 255, 0.13);
}

.card-content .buy_link {
  position: relative;
  left: 70px;
  top:250px;
  border-radius: 9px;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  background-color: greenyellow;
}

.card:hover .card_face {
  display: flex;
}

.card-image img {
    width: 350px;
    position: relative;
    left: -70px;
    top: 10px;
}

.item_name 
{
    font-size: larger;
    font-weight: bold;
    top: 200px;
    left: 70px;
    position: relative;
}